{{!< chat-layout}}
{{> chat_alert_wrapper}}
<div class="chat-header-wrapper">
  {{> chat_header}}
  <div class="chat-and-toolbar-wrapper">
    {{> chat_toolbar}}
    <div class="chat-app">
      <div class="collaborators-container" id="collaborators-container"></div>
      {{> chat_content}}
      {{> chat_nli_input}}
    </div>
  </div>
</div>
<div class="trpBlankPage"></div>
{{> set_initial_position}}
